<div class="gooey-nav-container relative" #containerRef>
  <nav class="flex relative" style="transform: translate3d(0,0,0.01px)">
    <ul
      #navRef
      class="flex gap-8 list-none p-0 px-4 m-0 relative z-[3]"
    >
      @for (item of items; track item.href; let index = $index) {
        <li
          class="rounded-full relative cursor-pointer transition-[background-color_color_box-shadow] duration-300 ease shadow-[0_0_0.5px_1.5px_transparent] text-white"
          [class.active]="activeIndex === index"
        >
          @if (isRouterLink(item.href)) {
            <a
              [routerLink]="[item.href]"
              (click)="handleClick($event, index)"
              (keydown)="handleKeyDown($event, index)"
              class="outline-none py-[0.6em] px-[1em] inline-block"
            >
              {{ item.label }}
            </a>
          } @else {
            <a
              [href]="item.href"
              (click)="handleClick($event, index)"
              (keydown)="handleKeyDown($event, index)"
              class="outline-none py-[0.6em] px-[1em] inline-block"
            >
              {{ item.label }}
            </a>
          }
        </li>
      }
    </ul>
  </nav>
  <span class="effect filter" #filterRef></span>
  <span class="effect text" #textRef></span>
</div>

