/* stylelint-disable */
@import 'aos/dist/aos.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: #222222;
  font-family: 'Inter', ui-sans-serif, system-ui;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1a1a1a;
}